.content header {
  width: 100%;
  background-color: #000;
  min-height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.content header .backHome {
  color: #fff;
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

.content header .backHome svg {
  margin-right: 5px;
  color: var(--primary-color);
}

.content header .backHome:hover {
  color: var(--primary-color);
}

@media(max-width: 900px) {
  .content header {
    margin: 48px auto 0;
  }
}