.data-drivers {
  width: 100%;
  height: 394px;
  max-height: 394px;
  margin-bottom: 1rem;
  text-align: center;
}

.table {
  width: 100%;
  color: #212529;
  border-collapse: collapse;
  text-align: initial;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}

.table td, .table th {
  padding: .55rem;
  vertical-align: top;
}

.table td {
  font-size: 14px;
}

.table tbody tr:hover {
  background-color: #dee2e6;
  cursor: pointer;
}

.table tbody tr:hover td {
  font-weight: 600;
}